backend:
  name: git-gateway
  repo: Mikeyouf/landing-maraichage
  branch: main
  locale: 'fr'
  commit_messages:
    create: 'Creation de {{collection}} “{{slug}}”'
    update: 'Mise à jour de {{collection}} “{{slug}}”'
    delete: 'Mit à la corbeille: {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] mit à jour “{{path}}”'
    deleteMedia: '[skip ci] effacé “{{path}}”'

# Uncomment local_backend when you need to develop in your local
#local_backend: true # run npx netlify-cms-proxy-server for local testing

media_folder: 'static/assets'
public_folder: '/assets'

collections:
  - name: 'posts' # Used in routes, ie.: /admin/collections/:slug/edit
    label: 'Articles de blog' # Used in the UI
    label_singular: 'Post' # Used in the UI, ie: "New Post"
    description: >
      Crée tes articles ici
    folder: 'src/content/posts'
    media_folder: static/assets
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: '{{title}} — {{year}}/{{month}}/{{day}}'
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Template', name: 'template', widget: 'hidden', default: 'blog-post' }
      - { label: 'Titre', name: 'title', widget: 'string', tagname: 'h1' }
      - { label: 'Tags', name: 'tags', widget: 'list', hint: 'toujours séparer par une virgule' }
      - { label: 'Publier', name: 'published', widget: 'boolean' }
      - {
          label: "Nom de l'url",
          name: 'slug',
          widget: 'string',
          hint: 'TOUJOURS commencer avec /. Utiliser uniquement des caractères alpha-numérique, - et _. AUCUN espace entre les lettres ou mots.',
        }
      - {
          label: 'Date de publication',
          name: 'date',
          widget: 'datetime',
          dateFormat: 'YYYY-MM-DD',
          timeFormat: 'HH:mm',
          format: 'YYYY-MM-DD HH:mm',
        }
      - { label: 'Description', name: 'description', widget: 'text' }
      - { label: 'Image de présentation', name: 'cover_image', widget: 'image', required: false, tagname: '' }

      - { label: 'Article', name: 'body', widget: 'markdown', hint: "Le principal de l'article se trouve ici." }

  - name: 'legumes'
    label: 'Légumes'
    label_singular: 'Légumes'
    description: >
      Ajoute ou supprime tes légumes ici
    folder: 'src/content/projects'
    media_folder: static/assets
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: '{{title}}'
    create: true
    fields:
      - { label: 'Titre', name: 'title', widget: 'string', tagname: 'h1' }
      - { label: 'Tags', name: 'techs', widget: 'list', hint: 'ex: légumes, hiver, janvier, février' }
      - { label: 'Publier', name: 'featured', widget: 'boolean', hint: 'publier si le légume est de saison' }
      - {
          label: 'Date de publication',
          name: 'date',
          widget: 'datetime',
          dateFormat: 'YYYY-MM-DD',
          timeFormat: 'HH:mm',
          format: 'YYYY-MM-DD HH:mm',
        }
      - { label: 'Image de présentation', name: 'cover_image', widget: 'image', required: false }
      - {
          label: 'Article',
          name: 'body',
          widget: 'text',
          hint: 'La description du légume se trouve ici.',
          required: false,
        }

  - name: 'contact'
    label: 'Contact'
    label_singular: 'Contact' # Used in the UI, ie: "New Post"
    description: >
      Modifier les informations de contact ici
    folder: 'src/content/sections/contact'
    media_folder: static/assets
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: 'Cliquer ici pour modifier nos infos de contact'
    create: false # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Titre', name: 'title', widget: 'string' }
      - { label: 'Téléphone', name: 'phone', widget: 'string' }
      - { label: 'Email', name: 'email', widget: 'string' }
      - { label: 'Adresse', name: 'address', widget: 'string' }
      - { label: 'Horaire', name: 'horaire', widget: 'string' }
      - { label: 'Infos', name: 'body', widget: 'markdown', hint: "Texte avec lien vers le site de l'avath" }

  - name: 'about'
    label: 'Histoire'
    label_singular: 'Histoire' # Used in the UI, ie: "New Post"
    description: >
      Modifier notre histoire ici
    folder: 'src/content/sections/about'
    media_folder: ''
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: 'Cliquer ici pour modifier notre histoire'
    create: false # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Titre', name: 'title', widget: 'string' }
      - { label: 'Tags', name: 'techs', widget: 'list' }
      - { label: 'Image de présentation', name: 'aboutimage', widget: 'image' }
      - { label: 'Présentation', name: 'body', widget: 'markdown', hint: 'Décrire notre histoire ici.' }

  - name: 'cards'
    label: 'Nos valeurs'
    label_singular: 'Valeurs' # Used in the UI, ie: "New Post"
    description: >
      Modifier nos valeurs ici
    folder: 'src/content/sections/cards'
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: 'Cliquer ici pour modifier nos valeurs'
    create: false # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - {
          label: 'Nos valeurs',
          name: 'cards',
          widget: 'list',
          allow_add: false,
          fields:
            [
              { label: 'Nom', name: 'label', widget: 'string' },
              { label: 'Description', name: 'description', widget: 'text' },
            ],
        }

  - name: 'accueil'
    label: 'Texte d accueil'
    label_singular: 'Accueil' # Used in the UI, ie: "New Post"
    description: >
      Modifier le texte d accueil ici
    folder: 'src/content/sections/hero'
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    summary: 'Cliquer ici pour modifier le texte d accueil'
    create: false # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: 'Titre', name: 'introduction', widget: 'string' }
      - { label: 'Sous-titre', name: 'tagline', widget: 'string' }
      - { label: 'Texte du bouton', name: 'cta_label', widget: 'string' }
      - { label: 'Citation', name: 'body', widget: 'markdown', hint: 'Mettre une citation ici.' }
